@import '../../style/variables';
@mixin gradient-box{
    border: 1px solid $dark-1;
    background: linear-gradient(120deg, $dark-3 50%, $dark-2 100%);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8), inset 2px 2px 4px rgba(0, 0, 0, 0.1)
  }
@mixin gradient-box-warning{
    border: 0.5px solid $orange-default-light;
    background: linear-gradient(120deg, $dark-3 20%, rgba(255, 166, 0, 0.05) 100%);
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8), inset 2px 2px 4px rgba(0, 0, 0, 0.1)
  }
.event-page{
	opacity: 0;
    margin-left: -8px*2;
	padding-bottom: 8px*5 !important;
	animation: project-page-reveal 0.4s ease-out forwards;
	.disabled{
		opacity: 0.2;
	}

	.box{
		min-height: 8px*5;
		padding: 8px*2;
		background-color: $dark-3;
		border-radius: 4px;
		transition-duration: 0.1s;
		transition-timing-function: ease-in;
		@include gradient-box;
		&.hide{
			display:none;
		}
		&:hover{
			transform: scale(1.01);
			transition-duration: 0.1s;
			transition-timing-function: ease-out;
			border: 1px solid $gray5-accessible-dark;
			box-shadow: 2px 2px 16px rgba(0, 0, 0, 0.4), inset 2px 2px 4px rgba(0, 0, 0, 0.1)
		}

	}
  }
  .event-cover-info{
	display: flex;
	height: auto;
	gap: 8px*1;
	margin: 8px*3 0;
	.event-cover{
		height: 8px*16;
		width: 8px*19;
		margin-left: 8px*2;
		padding: 0;
		background-color: $dark-2;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
		background-position: center;

		.options{
			input{
				display: none;
			}
			label{
				width: calc(100% - 8px*2);
				font-size: 0.8rem;
				font-weight: normal;
				padding: 4px 8px;
				position: absolute;
				bottom: 0px;
				left: 4px;
				display: none;
				background-color: rgba(0, 0, 0, 0.4);
			}
		}
		&:hover{
			transform: scale(1);
			.options{
				input{
					display: none;
				}
				label{
					display: block;
				}
			}
		}
		&.wedding{
			background-image: url('../../assets/img/event-covers/wedding.png');
		}
		&.maternity{
			background-image: url('../../assets/img/event-covers/maternity.png');
		}
		&.couple{
			background-image: url('../../assets/img/event-covers/couple.png');
		}
		&.uploading{
			background-size: 20%;

			background-repeat: no-repeat;
			background-position: center;
		}

	}
	.event-info{
	  display: grid;
	  width: 100%;
	  grid-template-columns: 2fr 1fr;
	  justify-content: space-between;
	  padding: 8px*2;
	  padding-top: 0;
	  padding-bottom: 0;
	  .client{
		display: flex;
		align-items: center;
		gap: 8px*2;
		.type{
  
		  display: block;
		  color: $gray2-default-dark;
		  margin-top: 8px;
		}
	  }
	  .event-options{
		display: flex;
		justify-content: flex-end;
	  }
	  .client-contact{
		margin-top: 8px;
		p{
		color: $gray-default-dark;
		margin-bottom: 2px;
		font-size: 0.9rem;
		  &.client-phone{
			&::before{
			  content: '';
			  padding: 6px;
			  margin-right: 10px;
			  background-image: url(../../assets/img/icons/phone.png);
			  background-size: 100%;
			  background-repeat: no-repeat;
			  background-position: center;
			}
		  }
		  &.client-email{
			&::before{
			  content: '';
			  padding: 6px;
			  margin-right: 10px;
			  background-image: url(../../assets/img/icons/email.png);
			  background-size: 100%;
			  background-repeat: no-repeat;
			  background-position: center;
			}
		  }
		}
	  }
	}
  }
  .event-date-time{
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	align-items: center;
	gap: 8px*2;
	padding: 8px*3 0;
	border-top: 1px solid $dark-2;
	border-bottom: 1px solid $dark-2;
	margin: 0 8px*2;
	background: 
		linear-gradient(90deg, $dark-2 0, transparent 10%, transparent 90%, $dark-2 100%),
		linear-gradient(180deg, $dark-3 -2px, $dark-2 8px, transparent 100%),
		linear-gradient(0deg, $dark-3 -2px, $dark-2 8px, transparent 100%)
		;
	.left{
		display: grid;
		gap: 8px*0.5;
		margin-top: -4px;
		padding: 8px*2 8px*3;
		border: 1px solid $dark-0;
		.event-time-duration{
			display: flex;
			align-items: center;
			gap: 8px*2;
			font-weight: 400;
			margin-top: -8px;
			.event-time{
				font-size: 1.2rem;
				font-weight: 400;
				color: $gray5-accessible-light;
			}
			.event-duration{
				padding: 2px 8px;
				border: 1px solid $dark-0;
				border-radius: 4px;
				font-size: 0.9rem;
				background-color: $dark-2;
				color: white;
			}
		}
		.event-date-countdown{
			display: flex;
			align-items: end;
			justify-items: center;
			gap: 8px*2;
			margin-bottom: 8px*1;
			.event-date{
				display: grid;
				align-items: center;
				font-size: 1.5rem;
				font-weight: 400;
				gap: 8px;
				color: white;
				.day{
					color: $dark-0;
					font-size: 1rem;
					font-weight: 500;
					margin-bottom: -6px;
				}
			}
			.event-countdown{
				padding: 2px 8px;
				border: 1px solid $green-accessible-light;
				border-radius: 4px;
				font-size: 0.9rem;

				margin-bottom: 4px;
				background-color: $dark-2;
				color: $green-accessible-dark;
			}
		}
		.event-location{
			display: flex;
			gap: 8px;
			font-size: 0.9rem;
			align-items: center;
			align-content: center;
			margin-top: 8px*1;
			.icon{
				width: 8px*2;
				height: 100%;
				background-image: url('../../assets/img/icons/location-dot.svg');
				background-size: 80%;
				background-position: top 8px;
				opacity: 0.6;
			}
			.address{

				color: $gray-accessible-light;
				width: 8px*20;
			}
			.view-map{
				display: flex;

				gap: 8px;
				align-items: end;
				// makee text non breakable
				word-wrap: normal;
				padding: 8px 8px*2;
				border: 1px solid $gray2-accessible-dark;
				border-radius: 4px;
				font-size: 0.9rem;
				background-color: $dark-2;
				color: $gray6-default-light;
				transition-duration: 0.2s;
				// make it
				&::after{
					content: '';
					width: 8px*2;
					height: 8px*2;
					background: url('../../assets/img/icons/open-in-new.svg');
					background-size: 70%;
					background-repeat: no-repeat;
					background-position: center right;

					opacity: 0.9;
				}
				&:hover{

				border: 1px solid $gray-default-light;
				color: $gray6-default-light;
				transition-duration: 0.1s;
				&::after{
					opacity: 0.9;
				}
				}
			}
		}
	}
	.actions{
		display: grid;
		gap: 8px*0;
		align-content: center;
		min-height: 8px*5;
		overflow: hidden;
		padding-bottom: 8px*2;
		.confirm-message{
			margin-bottom: 8px;
			color: $gray-accessible-dark;
		}

		.rechedule-calendar{
			display: grid;
			width: 100%;
			height:  8px*39;
			margin-top: 8px;

			border-radius: 4px;
			z-index: 19;
			transition-duration: 0.4s;
			.react-calendar{
				width: AUTO;
				position: relative;
				transition-duration: 0.2s;
				border: 1px solid $dark-1;
				border-radius: 4px;
				.react-calendar__tile{
					&:hover {
						background-color: $gray2-accessible-dark;
						abbr{
							color:$dark-3;
						}
					}
					&:disabled {
						background-color: $dark-3;
						border-radius: 0;
						border: 0px solid transparent;
						abbr{
							color:$dark-1;
						}
					}
				}
				background-color: $dark-3 !important;
				.react-calendar__tile--now{
					border: 1px solid $gray-accessible-light;
					background-color: $dark-2;
					abbr{
						color: $gray4-accessible-light;
						
					}
				}
				.react-calendar__tile--active{
					background-color: $gray6-accessible-light;
					abbr{
						color: $dark-3;
						
					}
					&.react-calendar__tile:hover{

						color: $dark-0;
						background-color: $gray6-accessible-light ;
					}
				}
				.react-calendar__navigation
				{
					margin-bottom: 0;
					button{
						font-size: 1.2rem;

						&:disabled{
							background-color: $dark-3;
							color: $dark-1;
						}
						&:enabled:hover{
							background-color: $dark-1;
						}
					}

				} 
				.react-calendar__navigation__prev-button button{
					
					font-size: 2rem;
				}
				.react-calendar__navigation__next-button button{
					
					font-size: 2rem;
				}
				.react-calendar__navigation__prev2-button{
					display: none;
				}
				.react-calendar__navigation__next2-button{
					display: none;
				}
				.react-calendar__month-view__days__day{

				}
				.react-calendar__month-view__days__day--neighboringMonth{

					background-color: $dark-3;
					border-radius: 0;
					border: 0px solid transparent;
					abbr{
						color:$dark-2;
					}
					&:disabled{
						background-color: $dark-3;
						opacity: 1;
						abbr{
							color:$dark-2;
						}
					}
				}
				button{
					border-radius: 2px;
				}
					
			}
			.save.button{
				margin: 0;
				margin-top: 8px*1.5;
				padding: 8px;
				height: 8px*4.5;
				background-color: $blue-default-dark;
				color: white;
				border: 1px solid $blue-accessible-dark;

			}
			&.hide{
				height: 0px;
				width: 0px;
				opacity: 0;
				transition-duration: 0.4s;
			}

		}
		.action-wrap{
			display: flex;
			justify-content: start;
			gap: 8px;
			.button{
				margin: 0 !important;
			}
			&.rescheduleOpen{
				.confirm,.cancel{
					opacity: 0.1;
					
				}
				.rechedule{
				}
				
			}
		}
		.pending-message{
			margin-bottom: 8px*2;
		}
		&.confirmed{
			.confirm-message{
				display:flex
			}
			.pending-message{
				display:none
			}
			.confirm{
				display:none;
			}
		}
		&.pending{

			.confirm-message{
				display:none
			}
			.pending-message{
				display:flex
			}
		}
	}
  }
  .event-insights{
	padding: 8px*2;
	display: flex;
	gap: 8px*5;
	overflow-x: scroll;
	.label{
		color: $gray2-accessible-dark;
		font-size: 1rem;
		font-weight: 500;
		margin-top: 8px;
	}
	.box-label{
		color: white;
		font-size: 1rem;
		font-weight: 500;
		text-align: center;
	}
	.input-box{
		display: flex;
		align-items: center;
		gap: 0px;
		min-height: 8px*5;
		padding: 8px;
		background-color: $dark-2;
		border: 1px solid $dark-1;
		border-radius: 4px;
		color: $gray-accessible-dark;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), inset 2px 2px 2px rgba(0, 0, 0, 0.2);
		.icon{
			width: 8px*4;
			height: 8px*4;
			background-image: url(../../assets/img/icons/plus.svg);
			background-position: center;
			background-size: 50%;
			opacity: 0.5;
		}
	}
	.insight{
		display: grid;
		gap: 8px;
		align-content: start;
		.heading{
			color: $gray-accessible-dark;
	
			font-size: 1.2rem;
			font-weight: 500;
		}
		.body{
			display: flex;
			gap: 8px*2;
			.section{
				display: grid;
				align-content: start;
				gap: 8px;
				.label{
				}
				.section-header{
					width: 8px*24;
					height: 8px*16;
					padding: 8px*2;
					display: grid;
					gap: 8px;
					grid-template-rows: auto 1fr;
				}
				&.photography{
					.header-icon{
						background-image: url(../../assets/img/icons/camera-white.svg);
						background-size: 30%;
						background-position: center;
						opacity: 0.2;
					}
				}
				&.videography{
					.header-icon{
						background-image: url(../../assets/img/icons/videeo-camera-white.svg);
						background-size: 30%;
						background-position: center;
						opacity: 0.2;
					}
				}
				.delivery{
					display: flex;
					justify-content: space-between;
					span{
						color: $dark-0;
					}
				}
				&:nth-child(1){
					.label{
						opacity: 1;
					}
				}
			}
		}
		&.payments{
			.body{
				display: grid;
				gap: 8px*2;

			.section-header{
				height: 8px*24;
				.storage-pie{
					width: 8px*20;
					height: 8px*20;
					border-radius: 100%;
					border: 8px solid $gray3-accessible-dark;
				}
				.available-storage{
					stroke: $dark-0;
				}
				circle{
				}
				.used-storage{
					stroke: $green-default-dark;
					// add drop shadow that glows
					filter: drop-shadow(0 0 1px $green-dark-accessible-light);
					transition-duration: 1s;
					transition-timing-function: ease-out;
				}
				.overdue-circle{
					stroke: $red-accessible-dark;
					// add drop shadow that glows
					filter: drop-shadow(0 0 2px black);
					transition-duration: 1s;
					transition-timing-function: ease-out;
					filter: drop-shadow( -1px -1px 1px rgb(0, 0, 0))
				}
				.pending-circle{
					stroke: $orange-accessible-dark;
					filter: drop-shadow(0 0 2px black);
					transition-duration: 1s;
					transition-timing-function: ease-out;
					filter: drop-shadow(0 0 2px black);
				}
				.used-storage-text{
					font-weight: 700;
					font-size: 0.95rem;
					fill: $green-default-light;
					opacity: 0;
					animation: reveal-storage-text;
					animation-duration: 0.5s;
					animation-delay: 0.7s;
					animation-fill-mode: forwards;
				}
				.available-storage-text{
					font-weight: 400;
					font-size: 0.6rem;
					fill: $gray2-accessible-dark;
					letter-spacing: -0.05rem;
					opacity: 0;
					animation: reveal-storage-text;
					animation-duration: 0.5s;
					animation-delay: 01s;
					animation-fill-mode: forwards;
				}
			}
				.logs{
					display: grid;
					gap: 8px;
					.log{
						display: grid;
						grid-template-columns: auto 8px*6 8px;
						gap: 8px;
						align-items: center;
						.amount{
							text-align: end;
							color: $gray2-accessible-dark;
						}
						.status-signal{
							height: 8px;
							width: 8px;
							border-radius: 50%;
						}
						&.paid{
							.status-signal{
								background-color: $green-default-dark !important;
								transform: scale(1.1);
								box-shadow: 0 1px 1px 1px #362e00ef, 0 0 10px 5px #22ff0038, 0 0 4px 2px #21b60017, 0 0 20px 10px hsla(114, 100%, 50%, 0.01) !important;
					
							}
						}
						&.pending{
							.status-signal{
								background-color: $orange-default-dark !important;
								transform: scale(1.1);
								box-shadow: 0 1px 1px 1px #362e00ef, 0 0 10px 5px #ffb30038, 0 0 4px 2px #b69b0017, 0 0 20px 10px hsla(60, 100%, 50%, 0.01) !important;
					
							}
						}
						&.draft{
							.status-signal{
								background-color: $gray4-default-dark !important;
								transform: scale(1.1);
								border: 1px solid $gray-default-dark;
								box-shadow: 0 1px 1px 1px #3c3c3cef, 0 0 10px 5px #ffffff0d, 0 0 4px 2px #b1b1b117, 0 0 20px 10px hsla(0, 0%, 100%, 0.01) !important;
					
							}
						}
						&.upcoming{
							 .status-signal{
								background-color: $gray-default-dark !important;
								transform: scale(1.1);
								box-shadow: 0 1px 1px 1px #3c3c3cef, 0 0 10px 5px #ffffff1f, 0 0 4px 2px #b1b1b117, 0 0 20px 10px hsla(0, 0%, 100%, 0.01) !important;
					
							}
						}
						&.overdue{
							.status-signal{
								background-color: $red-default-dark;
								transform: scale(1.1);
								box-shadow: 0 1px 1px 1px #8700002e, 0 0 10px 5px #ff000038, 0 0 4px 2px #ff000073, 0 0 20px 10px hsla(0, 100%, 50%, 0.2);
					
					
							}
							&:hover{
							}
						}
						&.balance{
							margin: 8px 8px*2;
						}
					}
				}
			}
		}
	}
	
  }
  @media only screen and (max-width: 860px) {
	.event-date-time{
		justify-items: start;
		grid-template-columns: 1fr;
		.actions{
			justify-content: start;
			.action-wrap{
				justify-content: start;
			}
		}
	}
	.event-insights{
		display: grid;
		grid-template-columns: 1fr 1fr;
		.insight .body .section{
			width: 100%;
			.section-header{
				width: 100%;
				svg{
					width: 100%;
					height: 100%;
				}
			}
		}
	}
  }
  @media only screen and (max-width: 430px) {
	.event-cover-info{
	  display: grid;
	  height: auto;
	  gap: 8px*1;
	  margin: 8px*2 0;
	  .event-cover{
		  height: 80vw;
		  width: calc(100% - 8px*4);
		  margin-left: 8px*2;
		  background-color: $dark-2;
		  background-size: 100%;
		  background-position: top 20% left;
		  &.wedding{
			  background-image: url('../../assets/img/event-covers/wedding.png');
		  }
		  &.maternity{
			  background-image: url('../../assets/img/event-covers/maternity.png');
		  }
		  &.couple{
			  background-image: url('../../assets/img/event-covers/couple.png');
		  }
	  }
	  .event-info{
		display: grid;
		grid-template-columns: 1fr 1fr;
		justify-content: space-between;
		padding: 8px*2;
		gap: 8px;
		.client{
			width: 100%;
		  display: grid;
		  align-items: center;
		  gap: 8px*0;
		  h1{
			width :100%;
		  }
		  .type{
	
			display: block;
			color: $gray2-default-dark;
			margin-top: 8px;
		  }
		}
		.event-options{
		  display: flex;
		  justify-content: flex-end;
		}
		.client-contact{
		  margin-top: 8px;
		  p{
		  color: $gray-default-dark;
		  margin-bottom: 2px;
		  font-size: 0.9rem;
			&.client-phone{
			  &::before{
				content: '';
				padding: 6px;
				margin-right: 10px;
				background-image: url(../../assets/img/icons/phone.png);
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			  }
			}
			&.client-email{
			  &::before{
				content: '';
				padding: 6px;
				margin-right: 10px;
				background-image: url(../../assets/img/icons/email.png);
				background-size: 100%;
				background-repeat: no-repeat;
				background-position: center;
			  }
			}
		  }
		}
	  }
	}
	.event-date-time{
		justify-items: start;
		grid-template-columns: 1fr;
		.left{
			width: 100%;
			justify-content: start;
			.event-location{
				display: grid;
				
				align-items: start;
				justify-content: start;
				.icon{
					grid-row: 1/3;
					grid-column: 1/2;
					height: 8px*4;
				}
				.view-map{
					width:8px*14 ;
					justify-content: start;
					grid-row: 2/3;
					grid-column: 1/4;
				}
			}
			.event-date-countdown {
				.event-countdown{
					font-size: 0.6rem;
				}
				.event-date {
					font-size: 1rem;
					font-weight: 400;
					color: white;
				}
			}
		}
		.actions{
			&.box{
				width: 100%;
			}
		}
	}
	.event-insights{
		display: grid;
		grid-template-columns: 1fr ;
		.insight {
			gap: 8px*4;
			.body{
				display: grid;
				grid-template-columns: 1fr;
				gap: 8px*8;
				.section{
					.section-header{
						width: calc(100vw - 8px*4);
						height: 60vw;
						gap: 0;
						.box-label{
							font-size: 1.5rem;
						}
						svg{
							width: 100%;
							height: 100%;
						}
					}
				}
			} 
		}
  }
	
  }
  